.logo-menu-section{
   position: fixed;
   top: 0;
   z-index: 10000;
   height: 100px;
   width: 100%;
   background: #fff;
   box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
   font-size: 16px;
   #logo-menu-section{
       display: flex;
       height: 100px;
       width: 100%;
      .logo-menu{
          display: flex;
          width: 50%;
          height: 50px;
          justify-content: space-around;
          &>div{
              width: 16%;
              height: 20px;
              padding: 37px 0 0 0;
              text-align: center;
          }
      }
   }
}
