<section class="logo-menu-section">
   <div id="logo-menu-section">
       <div class="logo-menu"><img src="/assets/images/logo.png" style="height: 91px; width: 91px; padding-top: 10px;"></div>
       <div class="logo-menu">
           <div id="menu">Home</div>
           <div id="menu">About Us</div>
           <div id="menu">Courses</div>
           <div id="menu">Student Zone</div>
           <div id="menu">Contact Us</div>
           <div id="menu">Result</div>
       </div>
   </div>
</section>